@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;padding:0;
    box-sizing:border-box;
    outline:none;
    text-decoration:none;
    text-transform: capitalize;
    transition: .2s linear;
}

:root{
    --green:#219150;
    --black:#10221b;
    --white:#fff;
    --light-bg:#eee;
    --border:.2rem solid black;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    -text-color-1:#444;
    --text-color-2:#666;
    --bg-color-1:#fff;
    --bg-color-2:#eee;
}
.btn{
    display:inline-block;
    margin-top: 1rem;
    background:none;
    color:var(--text-color-1);
    padding:.8rem 3rem;
    border:var(--border);
    cursor: pointer;
    font-size: 1.7rem;
    padding:1rem 3rem;


&:hover{
    background: var(--black);
    color:var(--white);
}
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

body{
    background:var(--bg-color-2);
}
body.active{
    --text-color-1:#fff;
    --text-color-2:#eee;
    --bg-color-1:#444;
    --bg-color-2:#222;
    --border:.2rem solid white;
    --box-shadow:0 .5rem 1.5rem hsl(0, 0%, 99%);
}

.heading{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color:var(--black);
}
.header{
    position:fixed;
    top:0; left:0; right:0;
    padding:2rem 9%;
    z-index:1000;
    display: flex;
    align-items: center; 
    background:#333;

    .logo{
        margin-right: auto;
        font-size: 2rem;
        color: var(--white);
        font-weight: bolder;
    
    i{
        color: var(--green);
    }
}
.navbar{
 a{
    margin-left: 2rem;
    margin-right:1.7rem;
    color:indianred;
    font-size: 2rem;
    font-weight: bold;
    &:hover{
        color:var(--white);

    }
 }
 #nav-close{
    font-size: 5rem;
    cursor:pointer;
    color:var(--black);
    display: none;
 }
}
.icons a,div{
font-size: 2.5rem;
margin-left: 2rem;
cursor:pointer;
color:var(--white);
&:hover{
    color:var(--green);
}
}
#menu-btn{
    display: none;
}

}
.home{
    padding: 0;
    justify-content: center;
    position:relative;
    align-items: center;
    flex-flow: column;
    z-index: 0;
    display:flex;
    min-height:100vh; 
    
}

.about{ 
    background:var(--light-bg);
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    gap:2rem;

    .image{
        flex:1 1 42rem;
        padding-right: 5rem;
        padding-bottom: 5rem;
        img{
            width:100%;
            box-shadow: 4rem 4rem 0 rgba(0,0,0,.1);
        }
    }

    .content{
        flex:1 1 42rem;
    
    font-size:3rem;
    color:var(--green);
} 
p{
    font-size: 1.5rem;
    color:var(--black);
    padding:1rem 0;
    line-height:2;
}
}
#featured-events {
    text-align: center;
    margin-bottom: 40px;
  }
  
  #featured-events h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color:var(--text-color-1);
  }
  .event-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  
  .event {
    width: 30%;
    padding: 20px;
    background-color:var(--bg-color-2);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    margin-left: 20px ;
    margin-right: 20px;
    
  }
  
  .event:hover {
    transform: translateY(-10px);
  }
  
  .event-thumbnail img {
    width:290px;
    height: 280px;
    border-radius: 5px;
  }
  
  .event-details h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--text-color-1);
    font-size: 1rem;
  }
  
  .event-details p {
    color: var(--text-color-1);
  }
  

.footer{
    background: #333;
}

.footer .box-container{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    padding: 2.5rem;
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 7rem 0;
    color:#fff;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding: .7rem 0;
    color:#eee;
}

.footer .box-container .box a{
    display:block;
    font-size: 1.5rem;
    padding: .7rem 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    color:var(--green);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
    color:var(--green);
}
/* media queries */

@media(max-width:1200px)
{
    .header{
        padding: 2rem;
    }
}
@media(max-width:991px)
{
    html{
        font-size: 55%;
    }
}
@media(max-width:768px)
{
    .header{

        #menu-btn{
            display: inline-block;
        }
        .navbar{
            position: fixed;
            top:0;left:-110%;
            background: var(--bg-color-2);
            z-index:10000;
            width:35rem;
            height:100%;
            
            display: flex;
            flex-flow:column;
            align-items:center;
            /* justify-content: center; */
            
            &.active
            {
                left:0;
            box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
            }
        
        a{
            margin:1rem 0;
            font-size: 3rem;
        }
        #nav-close{
            display: block;
            position: absolute;
            top:1rem;right:2rem;
        }
    }
    }
}

@media(max-width:450px)
{
    html{
        font-size: 55%;
    }
}